@model IEnumerable<Tennis.NET.Models.Game>

@{
    ViewBag.Title = "Wedstrijden";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nieuwe wedstrijd aanmaken", "Create")
</p>
<table class="display" id="indexTbl">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Player1.FullName) speler 1
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player2.FullName) speler 2
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Player1.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Player2.FullName)
                </td>
                <td>
                    @Html.ActionLink("Bewerken", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Verwijderen", "Delete", new { id=item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    <script>
        $('#indexTbl').DataTable({ "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.12/i18n/Dutch.json" } });
    </script>
}